.item {
  margin-left: 17px;
  font-weight: 700;
  width: 80%;
  border-bottom: 1px solid #e5e2e2;
}

.flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2px;
}

.link {
  margin-right: 5px;
  margin-bottom: 6px;
  width: 82%;
  overflow: hidden;
  white-space: nowrap;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primaryTextColor);
  transition: color 250ms var(--timingFn);
}

.link:after {
  margin-left: 5px;
  content: '......................................................................................................';
}

.link:hover,
.link:focus {
  color: var(--accentColor);
}

.linkGit {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-right: 5px;
  text-decoration: underline;

  color: var(--primaryTextColor);
  transition: color 250ms var(--timingFn);
}

.linkGit:hover,
.linkGit:focus {
  color: var(--accentColor);
}

.tehnology {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondaryTextColor);
}

.role{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondaryTextColor);
}