.sidebar {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 15px;
  background: #1e2939;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.photo {
  border-radius: 50%;
  padding-bottom: 16px;
  max-width: 100%;
}

.section {
  width: 200px;
  margin: 0 auto;
}

.title {
  margin-bottom: 24px;
  text-align: start;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.09;
  color: #ffffff;
}

.text {
  list-style: circle;
  font-size: 14px;
  line-height: 1.71;
  color: #c2c5c9;
}

p.text{
  display: inline-block;
}

p.text~span {
  list-style: circle;
  font-size: 14px;
  line-height: 1.71;
  color: #c2c5c9;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 25px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 250ms var(--timingFn);
  color: #fff;
  background-color: var(--accentColor);
  border: 2px solid var(--accentColor);
  border-radius: 25px;
}

.link:hover,
.link:focus {
  color: var(--accentColor);
  background-color: transparent;
}
