.container {
  padding: 15px;
  min-width: 225px;
  background: #e6e6fa2d;
  box-shadow: var(--boxShadow);
  width: 800px;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  gap: 15px;
  padding: 20px 0;
}

.profession {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--accentColor);
}

.name {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
}

.description {
  font-size: 16px;
  line-height: 1.71;
  max-width: 600px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.09;
  margin-bottom: 15px;
}

.subTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.typeProject {
  color: var(--accentColor);
}

.list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}